<form method="post" class="card" action="?{{ form_action }}">
    {% csrf_token %}
    <div class="card-header"
         style="display: flex;align-items: center;justify-content: space-between">
        <span class="card-title" style="margin:0">角色列表</span>
        <button class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom"
                title="点击用户，为他分配角色" type="submit">保存
        </button>
    </div>
    <div class="card-body">
        <ul class="list-group">
            {% for item in role %}
                {{ item|safe }}
            {% endfor %}
        </ul>
    </div>
</form>