{% extends 'layout.html' %}

{% block content %}
    <a href="{% url 'web:businessunit_add' %}"><button class="btn btn-success" style="margin-bottom: 5px" >新增</button></a>
    <table title="业务线表" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>业务线</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in data_list %}
            <tr>
                <td>{{ obj.pk }}</td>
                <td>{{ obj.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'web:businessunit_edit' obj.pk %}">编辑</a>
                    <a class="btn btn-danger" href="{% url 'web:businessunit_delete' obj.pk %}">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}