{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'web:server_add' %}">
        <button class="btn btn-success" style="margin-bottom: 5px">新增</button>
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>设备状态</th>
            <th>IDC机房</th>
            <th>机柜号</th>
            <th>机柜中序号</th>
            <th>业务线</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in data_list %}
            <tr>
                <td><a href="{% url 'web:server_detail' obj.pk %}">{{ obj.pk }}</a></td>
                <td>{{ obj.device_status_id }}</td>
                <td>{{ obj.idc }}</td>
                <td>{{ obj.cabinet_num }}</td>
                <td>{{ obj.cabinet_order }}</td>
                <td>{{ obj.business_unit }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'web:server_edit' obj.pk %}">编辑</a>
                    <a class="btn btn-danger" href="{% url 'web:server_delete' obj.pk %}">删除</a>
                    <a class="btn btn-success" href="{% url 'web:server_asset_change_list' obj.pk %}">查看变更记录</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}