{% extends 'layout.html' %}

{% block content %}
    <div>主机表</div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>主机名称</th>
            <th>主机系统</th>
            <th>主机系统版本</th>
            <th>主板SN号</th>
            <th>主板制造商</th>
            <th>主板型号</th>
            <th>CPU个数</th>
            <th>CPU物理个数</th>
            <th>CPU型号</th>
            <th>最后更新时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ obj.pk }}</td>
            <td>{{ obj.hostname }}</td>
            <td>{{ obj.os_platform }}</td>
            <td>{{ obj.os_version }}</td>
            <td>{{ obj.sn }}</td>
            <td>{{ obj.manufacturer }}</td>
            <td>{{ obj.model }}</td>
            <td>{{ obj.cpu_count }}</td>
            <td>{{ obj.cpu_physical_count }}</td>
            <td>{{ obj.cpu_model }}</td>
            <td>{{ obj.latest_data }}</td>
        </tr>
        </tbody>
    </table>
    <div>硬盘表</div>
    <table class="table">
        <thead>
        <tr>
            <th>硬盘槽位</th>
            <th>硬盘型号</th>
            <th>硬盘容量GB</th>
            <th>硬盘类型</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in disk_list %}
            <tr>
                <td>{{ obj.slot }}</td>
                <td>{{ obj.model }}</td>
                <td>{{ obj.capacity }}</td>
                <td>{{ obj.pd_type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>内存表</div>
    <table class="table">
        <thead>
        <tr>
            <th>内存槽位</th>
            <th>内存制造商</th>
            <th>内存型号</th>
            <th>内存容量GB</th>
            <th>内存SN号</th>
            <th>内存速度</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in memory_list %}
            <tr>
                <td>{{ obj.slot }}</td>
                <td>{{ obj.manufacturer }}</td>
                <td>{{ obj.model }}</td>
                <td>{{ obj.capacity }}</td>
                <td>{{ obj.sn }}</td>
                <td>{{ obj.speed }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>网卡表</div>
    <table class="table">
        <thead>
        <tr>
            <th>网卡名称</th>
            <th>网卡mac名称</th>
            <th>网卡ip地址和子网掩码</th>
            <th>网卡状态</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in nic_list %}
            <tr>
                <td>{{ obj.name }}</td>
                <td>{{ obj.hwaddr }}</td>
                <td>{{ obj.ipaddrs_netmask }}</td>
                <td>{{ obj.up }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}