{% extends 'base.html' %}

{% block content %}
    <form action="" method="post" style="margin-top: 30px" novalidate>
        {% for field in form_obj %}
            <div class="form-group">
                {% if field.errors %}has-error{% endif %}

                <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-7">{{ field }}</div>
                <span class="help-block">{{ field.errors.0 }}</span>
            </div>

        {% endfor %}
        <div class="form-group">
            <button style="margin-left: 15px" type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
{% endblock %}